pyusb
Pillow>=2.0
qrcode>=4.0
pyserial
sphinx-rtd-theme
setuptools
setuptools-scm
docutils>=0.12
sphinxcontrib-spelling>=5
python-barcode>=0.11.0,<1
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx>=3.0.4 # not directly required, pinned by Snyk to avoid a vulnerability
